[submodule "42_Born2beRoot"]
	path = 42_Born2beRoot
	url = git@github.com:aalcara/42_Born2beroot.git
[submodule "42_CPP"]
	path = 42_CPP
	url = git@github.com:aalcara/42_CPP.git
[submodule "42_cub3D"]
	path = 42_cub3D
	url = git@github.com:aalcara/42_cub3D.git
[submodule "42_ft_containers"]
	path = 42_ft_containers
	url = git@github.com:aalcara/42_ft_containers.git